<div class="top">
<h3>ようこそ Bookers へ！</h3>
</div>
<div ciass = "top_content">
<p>Bookers では、さまざまな書籍に関するあなたの意見や</p>
</div>
<div ciass = "top_content">
<p>印象を共有し交換することができます</p>
</div>
<div class="top_start">
<%= link_to 'start', "/books" %>
</div>




